.idea

# Linux AppImage
/app/AppDir
/app/appimage-build

.refena_inspector/

/secrets

# FVM Version Cache
.fvm/

# macOS
.DS_Store

aika_site_web/

# Binaires téléchargés manuellement depuis les GitHub Releases
release/
